# Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# Native/generated
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# Keystore
android/app/*.keystore
android/app/fin_sage.keystore
